@font-face {
  font-family:'AddingtonCF-DemiBold';
  src: url(fonts/AddingtonCF-DemiBold.otf);
}

@font-face {
  src: url(fonts/AddingtonCF-Regular.otf);
  font-family: 'AddingtonCF-Regular';
}

@font-face {
  src: url(fonts/AvenirNextLTPro-Bold.otf);
  font-family: 'AvenirNextLTPro-Bold';
}

@font-face {
  src: url(fonts/AvenirNextLTPro-Regular.otf);
  font-family: 'AvenirNextLTPro-Regular';
}

body{
  margin: 0;
  overflow-x: hidden;
}
/*Aqui comienza el header escritorio*/
.header{
  background: #15463F;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  z-index: 2;
}

.logo_alexa{
  width: 300px;
  height: 130px;
  object-fit: contain;
}

.logo_alexa_iniciales{
  display: none;
}

.bookappointment{
  display: flex;
  color: white;
  align-items: center;
  font-family: 'AddingtonCF-Regular';
}

.bookappointmentText{
  font-size: 1.3em;
}

.calendar{
  padding-right: 1em;
  font-size: 1.5em;
}

.phone-link{
  color: white;
  font-family: 'AvenirNextLTPro-Regular';
  text-decoration: none;
  font-size: 1.2em;
  padding-left: 1em;
  transition: all 300ms ease;
}

.phone-link:hover{
  color: #18f504;
  scale: 120%;
}


/*Switch del idioma*/
.lang{
  display: flex;
  font-size: 1.5rem;
  color: white;
}

.lang-toggle {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.toggle-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: relative;
  width: 6rem;           
  height: 3rem;          
  border-radius: 9999px;
  border: 1px solid #648156;
  transition: background-color 300ms ease;
}

.toggle-slider::after {
  content: "";
  position: absolute;
  top: 0.2rem;
  left: 0.25rem;
  width: 2.5rem;
  height: 2.5rem;
  background: #648156;
  border-radius: 9999px;
  transition: transform 300ms ease;
}

.toggle-input:checked + .toggle-slider::after {
  transform: translateX(3rem);
  background: #648156;
}

.toggle-input:focus + .toggle-slider {
  outline-offset: 2px;
}

/* Aqui termina el header escritorio */

/* Seccion Principal */
.mainSection{
  background-image: url('./img/alexa.jpg');
  width: 100vw;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title{
  color: white;
  font-size: 5em;
  font-family: 'AddingtonCF-Regular';
  margin: 0;
  width: 50vw;
  padding-left: 10vw;
}

.mainText{
  color: white;
  font-size: 1.9em;
  font-family: 'AddingtonCF-Regular';
  margin: 0;
  width: 40vw;
  padding-left: 10vw;
}

.mainService{
  color: rgb(78, 235, 104);
  font-size: 1.9em;
  font-family: 'AddingtonCF-Regular';
  margin: 0;
  width: 40vw;
  padding: 40px 0 40px 10vw;
}

.scheduleConsultation{
  color: white;
  font-size: 1.9em;
  font-family: 'AddingtonCF-Regular';
  background: #15463F;
  display: flex;
  align-items: center;
  width: 21vw;
  height: 7vh;
  margin: 0 0 0 10vw;
  padding: 10px;
  border-radius: 40px;
  text-decoration: none;
  p{
    padding: 0 10px 0 10px;
  }
  img{
    width: 30px;
    background: #648156;
    padding: 19px;
    border-radius: 20px;
  }
}

/* Seccion Blanca */

.Section{
  height: 100vh;
}

.titleSectionOne{
  font-family: 'AddingtonCF-Regular';
  color: #15463F;
  display: flex;
  justify-content: center;
  font-size: 5em;
  letter-spacing: 5px;
  padding: 10px;
}

.contentSectionOne{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wrapperSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 60vh;
  background: #efeeeb;
  color: #15463F;
  padding: 50px;
  transition: all 300ms ease;
  i{
    font-size: 5em;
  }
}

.wrapperSection:hover{
  background-image: url(./img/fondoSection.jpg);
  background-size: cover;
  color: white;
}

.firstWrapperSectionTitleLeft{
  font-family: 'AddingtonCF-Regular';
  font-size: 2.8em;
}

.firstWrapperSectionTextLeft{
  font-family: 'AddingtonCF-Regular';
  font-size: 1.7em;
  text-align: center;
}

.firstWrapperSectionTitleCenter{
  font-family: 'AddingtonCF-Regular';
  font-size: 2.8em;
}

.firstWrapperSectionTextCenter{
  font-family: 'AddingtonCF-Regular';
  font-size: 1.7em;
  text-align: center;
}

.firstWrapperSectionTitleRight{
  font-family: 'AddingtonCF-Regular';
  font-size: 2.8em;
}

.firstWrapperSectionTextRight{
  font-family: 'AddingtonCF-Regular';
  font-size: 1.7em;
  text-align: center;
}


/* Seccion Verde */
.SectionGreen{
  background-image: url(./img/fondoSection3.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sectionGreenTitle{
  text-align: center;
  font-family: 'AddingtonCF-Regular';
  font-size: 5em;
  color: white;
  letter-spacing: 5px;
}

.sectionGreen1{
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 20vw;
  padding-bottom: 40px;
  border-bottom: 1px solid white;
  grid-column: 1;
  grid-row: 1;
}

.greenTitle1{
  display: flex;
  align-items: center;
  i{
    color: #18f504;
    padding-right: .5em;
    font-size: 1.7em;
  }
  h4{
    color: white;
    font-size: 1.8em;
  }
}

.sectionGreenText{
  color: white;
  font-size: 1.7em;
  margin: 0;
  text-align: end;
}

.sectionGreen2{
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 20vw;
  padding-bottom: 40px;
  grid-column: 1;
  grid-row: 2;
}

.sectionGreen3{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 20vw;
  padding-bottom: 40px;
  border-bottom: 1px solid white;
  grid-column: 3;
  grid-row: 1;
}

.greenTitle3{
  display: flex;
  align-items: center;
  i{
    color: #18f504;
    padding-right: .5em;
    font-size: 1.7em;
  }
  h4{
    color: white;
    font-size: 1.8em;
  }
}

.sectionGreenText3{
  color: white;
  font-size: 1.7em;
  margin: 0;
  text-align: start;
}

.sectionGreen4{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 20vw;
  padding-bottom: 40px;
  grid-column: 3;
  grid-row: 2;
}

.sectionGreenImg{
  width: 20vw;
  height: 60vh;
  overflow: hidden;
  grid-row: 1 / 3;
  grid-column: 2;
}

.wrapperGreenSection{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 70vw;

}


/* Seccion con los datos */
.sectionWhite{
  background-image: url(./img/sectionFinal.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftWrapper{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 35vw;
}

.getStartTitle{
  font-family: 'AddingtonCF-Regular';
  font-size: 4.5em;
  color: #14463e;
  letter-spacing: 5px;
  margin: 0;
}

.getStartText{
  font-family: 'AddingtonCF-Regular';
  font-size: 1.8em;
  color: #14463e;
  text-align: start;
}

.calmNow{
  font-family: 'AddingtonCF-Regular';
  display: flex;
  align-items: center;
  font-size: 1.8em;
  background: #14463e;
  padding: 0 20px;
  color: white;
  border-radius: 50px;
  text-decoration: none;
  p{
    padding: 0 20px;
  }
  i{
    padding: 15px;
    background: #648156;
    border-radius: 100%;
  }
}

.wrapperWhite{
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.dates{
  font-family: 'AddingtonCF-Regular';
  font-size: 1.8em;
  color: #14463e;
  font-weight: bold;
}

.rightWrapper{
  img{
    width: 35vw;
    height: 20vw;
    object-fit: contain;
    overflow: hidden;
  }

}

.instagram{
  width: 35vw;
  height: 20vw;
  border-radius: 20px;
  
}

.footer{
  background-color: #15463F;
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: center;
  align-items: center;
  img{
    width: 20vw;
  }
}

.copyright{
  color: white;
  font-family: 'AvenirNextLTPro-Regular';
  font-size: 1.4em;
  padding: 30px;
}

.privacidad{
  color: #648156;
  font-size: 1.2em;
  width: 70vw;
  text-align: center;
}

/* Version Mobile */

@media only screen and (max-width: 768px) {
  .logo_alexa{
    display: none;
  }

  .logo_alexa_iniciales{
    display: block;
    width: 60px;
    padding: 10px;
  }

  .bookappointment{
    display: grid;
    width: 30vw;
    justify-content: center;
    align-items: center;    
    grid-template-columns: 30px, 200px;
    grid-template-rows: repeat(2, 1fr);
    i{
      grid-column: 1;
      grid-row: 1/3;
    }
  }

  .bookappointmentText{
    font-size: .5em;
    grid-column: 2;
    grid-row: 1;
    margin: 0;
  }
  .phone-link{
    font-size: .5em;
    grid-column: 2;
    grid-row: 2;
  }

  .lang{
  
  font-size: .5rem;
  
  }

  .toggle-input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  .toggle-slider {
    position: relative;
    width: 4rem;           
    height: 2rem;          
  }

  .toggle-slider::after {
    top: 0.2rem;
    left: 0.25rem;
    width: 1.5rem;
    height: 1.5rem;
    background: #648156;    
  }

.toggle-input:checked + .toggle-slider::after {
  transform: translateX(2rem);
  background: #648156;
}

.toggle-input:focus + .toggle-slider {
  outline-offset: 2px;
}
.mainSection{
  background-position: center;
}

.title{
  font-size: 1.5em;
}
.mainText{
  font-size: 1.2em;
}
.mainService{
  font-size: 1.2em;
}
.scheduleConsultation{
  font-size: 1em;
  width: 40vw;
  img{
    width: 20px;
    padding: 15px;
  }
}

.contentSectionOne{
  display: flex;
  flex-wrap: wrap;
}

.titleSectionOne{
  font-size: 2.5em;
  padding: 0;
}

.wrapperSection{
  width: 80vw;
  height: 15vh;
  display: flex;
  margin: 10px 0 10px 0;
  i{
    font-size: 2.5em;
  }
}
.firstWrapperSectionTitleLeft{
  font-size: 1em;
}

.firstWrapperSectionTextLeft{
  font-size: 1em;
}

.firstWrapperSectionTitleCenter{
  font-size: 1em;
}

.firstWrapperSectionTextCenter{
  font-size: 1em;
}

.firstWrapperSectionTitleRight{
  font-size: 1em;
}

.firstWrapperSectionTextRight{
  font-size: 1em;  
}


.SectionGreen{
  background-position: center;
}

.sectionGreenTitle{
  font-size: 2em;
}

.sectionGreen1{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  padding-bottom: 30px;
  border-bottom: 1px solid white;
  
}

.greenTitle1{
  display: flex;
  align-items: center;
  i{
    color: #18f504;
    padding-right: .5em;
    font-size: 1em;
  }
  h4{
    color: white;
    font-size: 1.4em;
  }
}

.sectionGreenText{
  color: white;
  font-size: 1em;
  margin: 0;
  text-align: center;
}

.sectionGreen2{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  padding-bottom: 30px;
  border-bottom: 1px solid white;
}

.sectionGreen3{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  padding-bottom: 30px;
  border-bottom: 1px solid white;
}

.greenTitle3{
  display: flex;
  align-items: center;
  i{
    color: #18f504;
    padding-right: .5em;
    font-size: 1em;
  }
  h4{
    color: white;
    font-size: 1.4em;
  }
}

.sectionGreenText3{
  color: white;
  font-size: 1em;
  margin: 0;
  text-align: center;
}

.sectionGreen4{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  padding-bottom: 30px;
  grid-column: 3;
  grid-row: 2;
}

.sectionGreenImg{
  display: none;
}

.wrapperGreenSection{
  display: flex;
  flex-wrap: wrap;
  width: 80vw;

}

.sectionWhite{
  background-position: center;
  flex-direction: column;
}

.leftWrapper{
  width: 80vw;
}
.getStartTitle{
  font-size: 2em;
}

.getStartText{
  font-size: 1em;
}

.calmNow{
  font-size: 1.3em;
}

.dates{
  font-size: 1.3em;
}

.imgJustice{
  display: none;
}

.instagram{

  img{
    width: 70vw;
    border-radius: 20px;
    padding: 20px;
  }

}

.wrapperWhite{
  display: flex;
  flex-direction: column;
}

.footer{
  height: 21vh;
  img{
    width: 30vw;
  }
}

.copyright{
  font-size: 1em;
  padding: 10px;
}

.privacidad{
  font-size: .5em;
}

}